<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark px-3">
    <span class="navbar-brand">Bug Tracker</span>
    <a href="/" class="btn btn-danger">Logout</a>
</nav>

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">
        <h3>Dashboard</h3>
        <a href="/create" class="btn btn-primary">+ Create Bug</a>
    </div>

    <table class="table table-bordered table-hover bg-white shadow">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Assigned</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for bug in bugs %}
            <tr>
                <td>{{bug[0]}}</td>
                <td>{{bug[1]}}</td>
                <td>{{bug[2]}}</td>
                
                <td>
                    {% if bug[3] == "Open" %}
                        <span class="badge bg-warning text-dark">Open</span>
                    {% else %}
                        <span class="badge bg-success">Closed</span>
                    {% endif %}
                </td>

                <td>
                    {% if bug[4] == "High" %}
                        <span class="badge bg-danger">High</span>
                    {% elif bug[4] == "Medium" %}
                        <span class="badge bg-primary">Medium</span>
                    {% else %}
                        <span class="badge bg-secondary">Low</span>
                    {% endif %}
                </td>

                <td>{{bug[6]}}</td>

                <td>
                    <a href="/update/{{bug[0]}}" class="btn btn-success btn-sm">Close</a>
                    <a href="/delete/{{bug[0]}}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

</body>
</html>